.coPassengerContainerUnique {
  margin: 50px auto;
  padding: 30px;
  max-width: 800px;
  background-color: black;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.coPassengerTitleUnique {
  font-size: 28px;
  color: #aaff00;
  margin-bottom: 20px;
}

.inputFieldsUnique {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

.inputFieldUnique {
  width: 100%;
  padding: 12px;
  border: 2px solid #e0e4d9;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  background-color: #fff;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.inputFieldUnique:focus {
  border-color: #76ff03;
  box-shadow: 0 0 8px rgba(170, 255, 0, 0.6);
}

.addButtonUnique {
  padding: 12px 20px;
  background-color: #75be39;
  box-shadow: 0 0 15px #658d14;
  color: black;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addButtonUnique:hover {
  background-color: #8ac05d;
  color: black;
}

.passengerListUnique {
  margin-top: 20px;
  padding: 0;
  list-style-type: none;
  text-align: left;
}

.passengerItemUnique {
  background-color: #ffffff;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #aaff00;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.passengerItemUnique span {
  font-size: 16px;
  color: #333;
}

.deleteButtonUnique {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deleteButtonUnique:hover {
  background-color: #d32f2f;
}

.nextPageButtonUnique {
  margin-top: 20px;
  padding: 12px 20px;
  background-color: #9ddf1a;
  color: black;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nextPageButtonUnique:hover {
  background-color: #76ff03;
}
