.place-visit-container {
  margin: 50px auto;
  padding: 30px;
  max-width: 800px;
  text-align: center;
  
  border: 5px solid transparent;
  border-radius: 20px;

  background-color: #001a00;
}

@keyframes snake-border {
  0% {
      background: linear-gradient(45deg, #aaff00, #008000, #004d00) border-box;
  }
  50% {
      background: linear-gradient(135deg, #008000, #004d00, #aaff00) border-box;
  }
  100% {
      background: linear-gradient(225deg, #004d00, #aaff00, #008000) border-box;
  }
}

.place-visit-container h2 {
  text-align: center;
  color: #aaff00;
  font-size: 28px;
  text-shadow: 0 0 10px #aaff00;
}

.place-visit-form-group label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #f0f3ea;
}

.place-visit-form-group input {
  width: 100%;
  padding: 12px;
  border: 3px solid #fff;
  border-radius: 10px;
  outline: none;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 16px;
}

.place-visit-form-group input:focus {
  border-color: #76ff03;
  box-shadow: 0 0 15px #aaff00;
}

.place-visit-add-button {
  width: 100%;
  padding: 15px;
  background-color: #aaff00;
  color: black;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.place-visit-add-button:hover {
  background-color: #76ff03;
  box-shadow: 0 0 15px #aaff00;
}

.place-visit-history-item {
  background: #001a00;
  margin-bottom: 15px;
  padding: 20px;
  border: 3px solid #aaff00;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(170, 255, 0, 0.7);
}

.place-visit-history-item p {
  margin: 5px 0;
  font-size: 16px;
  color: #aaff00;
}

.place-visit-delete-button {
  background-color: #d50000;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.place-visit-delete-button:hover {
  background-color: #c62828;
  box-shadow: 0 0 12px rgba(213, 0, 0, 0.7);
}

.place-visit-dashboard-next-button {
  margin-top: 20px;
  padding: 12px 20px;
  background-color: #aaff00;
  color: black;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.place-visit-dashboard-next-button:hover {
  background-color: #76ff03;
  box-shadow: 0 0 20px #aaff00;
  color: #001a00;
}
