.sidebar {
  background-color: #1c1f2a;
  width: 250px;
  min-height: 100vh;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.logo span {
  color: #aaff00;
}

.nav-item {
  color: white;
  margin: 10px 0;
  margin-bottom: 30px;
  font-size: 16px;
  text-decoration: none;
}

.nav-item:hover {
  color: antiquewhite;
}

.discount {
  background: #eefbe7;
  color: black;
  border-radius: 8px;
  margin-top: 50px;
}

.logout-btn {
  border-radius: 8px;
  margin-top: 10px;
}

.sidebar .logout-btn {
  margin-top: auto;
}

@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
    width: 100%;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .logo {
    font-size: 22px;
  }

  .nav-item {
    font-size: 14px;
  }

  .logout-btn {
    font-size: 14px;
  }
}

.hamburger-menu {
  display: block;
  cursor: pointer;
  color: black;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.hamburger-menu div {
  width: 30px;
  height: 4px;

  background-color: #1c1f2a;
  margin: 6px 0;
}

.close-menu {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-menu div {
  width: 30px;
  height: 4px;
  background-color: white;
  position: absolute;
}

.close-menu div:first-child {
  transform: rotate(45deg);
}

.close-menu div:last-child {
  transform: rotate(-45deg);
}

@media (max-width: 768px) {
  .close-menu {
    display: block;
  }
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }

  .close-menu {
    display: block;
  }
}

/* Sidebar Profile Styling */
.unique-header-profile {
  display: flex;
  margin-top: 50%;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.unique-header-profile-image {
  width: 40px;
  height: 40px;

  border-radius: 50%;
  margin-right: 10px;
}

.unique-header-profile-text {
  color: #333;
}

.unique-header-profile-name {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.unique-header-profile-role {
  font-size: 12px;
  color: #777;
  margin: 0;
}

.unique-header-profile-caret {
  margin-left: auto;
  font-size: 12px;
}

.unique-header-dropdown {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  top: 50px;
  left: 0;
  width: 100%;
  border-radius: 5px;
}

.unique-header-dropdown ul {
  padding: 10px 0;
  list-style: none;
  margin: 0;
}

.unique-header-dropdown li {
  padding: 10px 20px;
  cursor: pointer;
}

.unique-header-dropdown li:hover {
  background-color: #f1f1f1;
}
